<!DOCTYPE html>
<!--
	Designed by GOLDENRATIPHI

       ,(&@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@
    @          @@@@     #@     @@@    @@                                                      @
    @       @@          %@        @@  @&                                                      @
    @    @@@            ,@          @ @(                                                      @
    @   @@               @           @@.                                                      @
    @ @@                 @            @                                                       @
    @@@                  @            @                                                      @@
    @@                   @####@@      @                                                      @@
    @,                   @    @       @                                                     @@@
    @                    @@@  @     @@@                                                     @ @
    @                    @  @@@@  @@@ @                                                    @  @
    @                                 @                                                   @.  @
    @                                 @                                                  @@   @
    @                                 @                                                 @@    @
    @                                 @                                                @@     @
    @@                                @                                               @       @
    @@                                @                                             @@        @
    @ @                               @                                            @@         @
    @  @                              @                                          @@           @
    @   @                             @                                        @@             @
    @    @                            @                                      @@               @
    @     @@                          @                                    @@                 @
    @       @                         @                                 @@                    @
    @         @                       @                              @@                       @
    @           @@                    @(                         #@@                          @
    @              @@                 @@                     @@@                              @
    @                 @@@             @@               @@@@                                   @
    @                     *@@@@@      @@      @@@@@@@                                         @
																	@ ytixu.github.io/HTMLdump


-->
<html data-ng-app lang="en">
	<head>
		<title>Whisper in the Waves</title>
		<!-- jQuery -->
		<script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
		<!-- Angular -->
		<script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/angularjs/1.2.26/angular.min.js"></script>
		<!-- Google font -->
		<link href='https://fonts.googleapis.com/css?family=Calligraffitti' rel='stylesheet' type='text/css'>
		<link href='https://fonts.googleapis.com/css?family=Poiret+One:100,400' rel='stylesheet' type='text/css'>
		<link href='https://fonts.googleapis.com/css?family=Raleway' rel='stylesheet' type='text/css'>

		<link href='https://fonts.googleapis.com/css?family=Varela+Round' rel='stylesheet' type='text/css'>
		<link href='https://fonts.googleapis.com/css?family=Alegreya+Sans+SC:900' rel='stylesheet' type='text/css'>
		<!-- Bootstrap -->
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
		<!-- Icons -->
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css">

		<!-- My style :3 -->
		<link rel="stylesheet" href="assets/css/style.css">
		<link rel="stylesheet" href="assets/css/portfolio.css">

		<style type="text/css">
			/*[data-sr] { visibility: hidden; }*/
		</style>
	</head>
	<body>
		<div id="splash-bg-container"></div>
		<div id="side-menu">
			<a href="#services"><div id="splash2">Services</div></a>
			<a href="#drawings"><div id="splash3">Drawings</div></a>
			<a href="#contact"><div id="splash5">About Me</div></a>
			<a><div>Testimonials</div></a>
			<a><div>Blog</div></a>
		</div>
		<div id="splash-content-container">
			<div class="splash-div full-height" data-id="splash1" data-image="assets/images/1.jpg">
				<div id="splash-title" class="full-center">
					<span id="form-hide">
						Whisper in the Waves
						<div class="splash-subtitle">
							a step into divinity and full healing
							<br><br>
							<button type="button" class="btn btn-trans btn-trans-default book-toggle-btn"><strong>BOOK A SESSION</strong></button>
						</div>
					</span>
					<div id="bookingForm-display" class="splash-subtitle">
						<form id="bookingForm">
							<div class="row">
								<label class="col-md-2 text-right">Name:</label>
								<input class="col-md-9" type="text" name="name" required>
							</div>
							<div class="row">
								<label class="col-md-2 text-right">Message:</label>
								<textarea class="col-md-9" name="message" placeholder="Tell me about the service that you would like to have and the time you would like to have it." required></textarea>
							</div>
							<div class="row">
								<label class="col-md-2 text-right">Contact:</label>
								<textarea class="col-md-9" name="contact" maxlength="55" placeholder="Your email, skype username or any other means to get back to you." required></textarea>
							</div><br>
							<input type="submit" value="CONFIRM" id="send-book-btn" class="btn btn-trans btn-trans-default" style="font-weight:bold;">
							<button type="button" id="cancel-book-btn" class="btn btn-trans btn-trans-default"><strong>CANCEL</strong></button>
						</form>
					</div>
					<div id="success-message" class="splash-subtitle">
						Thanks for booking my service! I will get back to you soon.<br><br>
					</div>
				</div>
			</div>

			<a name="services"></a>
			<div class="splash-div min-full-height" data-id="splash2" data-image="assets/images/2.jpg">
				<div class="row color-black" ng-controller="viewCtrl" style="margin:0;">
					<div class="subtitle col-md-1">
					</div>
					<div class="col-md-3">
						<div class="subtitle">Services</div>
						<p>I offer aura alchemy healing, sound healing, Reiki, telepathic readings, oracle readings, sound healing and soul drawings/paintings. I can offer these services either by Skype or in person if you live in Calgary. All my services are offered in English, French and Spanish. To book a reading just send me a private message or email me.</p>
						<div class="subtitle"><button type="button" class="btn btn-trans btn-trans-default book-toggle-btn"><strong>BOOK A SESSION</strong></button></div>
					</div>
					<div class="col-md-1 backlight" ng-repeat="s in services" data-color="{{s.color}}">
						<div class="service-icon-sub"><i class="fa {{s.faIconBase}}"></i></div>
						<div class="service-icon"><i class="fa {{s.faIcon}}"></i></div>
						<h3>{{s.name}}</h3>
						<p>{{s.description}}</p>
					</div>
					<div class="col-md-1">
					</div>
				</div>
			</div>

			<a name="drawings"></a>
			<div class="splash-div" data-id="splash3" data-image="assets/images/3.jpg">
				<div class="portfolio" ng-controller="viewCtrl">
					<div class="portfolio-title color-black">
						<div class="portfolio-buttom-align">Sample<br>Drawings</div>
					</div>
					<div class="portfolio-image" ng-repeat="d in drawings"
						ng-init="$last ? refresh() : null" data-image="{{d.image}}">
						<div class="portfolio-image-toggle">
							<div class="portfolio-image-title">{{d.name}}</div>
							<div class="portfolio-image-description">{{d.description}}</div>
						</div>
					</div>
					<div class="portfolio-last color-black">
						<p>Soul Drawings are drawings of either your higher self or aspects of you, it could be your guides or one of your past life.</p>
						<div class="subtitle"><button type="button" class="btn btn-trans btn-trans-default book-toggle-btn"><strong>BOOK A SESSION</strong></button></div>
					</div>
				</div>
			</div>

			<a name="contact"></a>
			<div class="splash-div min-full-height" data-id="splash5" data-image="assets/images/4.jpg">
				<div style="margin:15%"></div>
				<div class="container color-black">
					<div class="row">
						<div class="col-md-4">
							<center><img class="circle-image" src="assets/images/profile.jpg"></center>
						</div>
						<div class="col-md-8" ng-controller="viewCtrl">
							<div class="subtitle">Mariana Claire</div>
							<h3>About Me</h3>
							<p>My mission is to help people around the world to step into their divinity and full healing.</p>
							<div class="contact-links">
								<a href="https://www.facebook.com/Whisper-in-the-Waves-1484113901885029/" target="_blank"><i class="fa fa-facebook-official"></i></a>
								<a href="skype:Marianas521?userinfo" title="Marianas521"><i class="fa fa-skype"></i></a>
								<a href="mailto:mseoane52@gmail.com" title="mseoane52@gmail.com"><i class="fa fa-envelope"></i></a>
							</div>
						</div>
					</div>
				</div>
				<div style="margin:10%"> </div>
				<div class="container">
					<div class="credit">&copy;Goldenrati&Phi; | 2015</div>
				</div>
			</div>
		</div>
	</body>
	<!-- My script :3 -->
	<script src="assets/scripts/services.js"> </script>
	<script src="assets/scripts/drawings.js"> </script>
	<script src="assets/scripts/backlight.js"> </script>
	<script src="assets/scripts/portfolio.js"> </script>
	<script src="assets/scripts/script.js"> </script>
</html>