extends ../layout/base.jade

block title
	Title My roommate experience is like having a kid or a pet

block header
	div(class="bgimg", style="background-image:url('../../assets/img/blog/2015/laundry.jpg');")

block blog-title
	h1 My roommate experience is like having a kid or a pet

block blog-date
	span Aug 16 2015

block blog-abstract
	span Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus euismod massa enim, ac egestas tortor rutrum quis. Suspendisse orci tellus, faucibus eget dictum sed, interdum a tellus.

block blog-text
	p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus euismod massa enim, ac egestas tortor rutrum quis. Suspendisse orci tellus, faucibus eget dictum sed, interdum a tellus. Mauris sapien odio, blandit non leo nec, ultrices varius magna. Etiam accumsan est ipsum, quis faucibus augue semper quis. Vestibulum rutrum eu urna pulvinar congue. Phasellus varius imperdiet quam, sed pellentesque diam blandit a. Mauris id pharetra magna. Duis et augue a felis euismod bibendum et iaculis neque. Aliquam at ex ipsum. Nulla vestibulum, nisl eu fermentum ullamcorper, mauris arcu fringilla ipsum, euismod lobortis diam justo quis urna. Nunc vitae lacus convallis, euismod urna id, pretium tortor. Etiam feugiat, sem in sagittis finibus, ligula turpis facilisis quam, sed maximus arcu nulla in neque. Praesent commodo dictum massa nec mattis. Cras pharetra ligula a leo pharetra, ut ornare urna finibus. Integer volutpat urna a ante tempor porta.
	p Sed viverra iaculis gravida. Ut varius dui ipsum, quis porttitor mi euismod non. Nam tincidunt tortor non sollicitudin imperdiet. Integer suscipit, felis et bibendum malesuada, lacus mauris laoreet justo, tristique varius ligula lectus eu lectus. Vivamus efficitur, mauris id dapibus vestibulum, eros odio pulvinar arcu, sit amet tincidunt elit nibh at odio. Curabitur lorem ligula, maximus eget pharetra sed, congue sed justo. Mauris vestibulum mollis lacinia. Mauris molestie arcu vel diam imperdiet convallis. Fusce tristique, dui quis pharetra congue, lacus risus convallis metus, non malesuada elit sapien eu quam. Proin suscipit nibh justo, sed finibus lorem luctus vitae. Integer consequat, urna dignissim semper volutpat, ante sem tincidunt ligula, vel pulvinar nunc sem non lorem. Curabitur congue nunc non odio porttitor mattis. Fusce ullamcorper felis at aliquet egestas. Curabitur mattis laoreet consectetur. Pellentesque lobortis est risus, quis eleifend mi interdum at. Etiam rutrum nulla hendrerit, pulvinar mi a, efficitur velit.
	p Etiam lacus urna, pharetra sed pharetra sed, lobortis sed enim. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Phasellus a urna viverra, congue erat ac, venenatis mi. Etiam at ultricies massa. Proin nec nulla at odio convallis consectetur. Vivamus suscipit mi id elit vulputate consequat. Fusce tincidunt quam vitae leo blandit, vel placerat massa luctus. Aenean tristique facilisis mi, pulvinar scelerisque ex interdum ut.
	p Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae; Ut in facilisis erat. Quisque id ex eget lorem interdum consectetur. Aliquam bibendum neque commodo accumsan rhoncus. Fusce quis hendrerit lectus. Nulla quis massa scelerisque, cursus ligula eget, blandit erat. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae; Praesent a erat semper turpis pharetra semper nec id ligula. Aenean tincidunt est eros, a porttitor felis sollicitudin quis. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Nam rutrum suscipit euismod. Cras dolor lectus, ornare id dignissim quis, eleifend vel lorem. Etiam ultrices cursus facilisis. Morbi ornare libero eget aliquam ultrices. Aenean gravida ligula sit amet arcu ultricies vehicula.
	p Maecenas rutrum enim ligula, non tristique purus gravida a. Nam sapien dolor, sagittis sit amet odio vel, pellentesque blandit arcu. Nulla id velit lectus. Suspendisse pretium accumsan ultricies. Nunc ac odio ac mi rhoncus pellentesque vitae non sem. Nunc lacinia congue purus et bibendum. Sed consectetur dictum nunc, nec pretium ex. Sed at turpis nisl. Phasellus a sapien risus. Quisque sollicitudin, metus nec condimentum accumsan, sapien est viverra erat, quis porta massa ipsum eu ligula. Sed non massa et quam vulputate elementum. Aliquam erat volutpat. Nulla aliquam quis est sit amet malesuada. Nulla vehicula ullamcorper turpis, ut volutpat sapien pretium sit amet. Vestibulum id tristique justo, eget rhoncus ex. Nam euismod nisl vitae vehicula tristique.


