doctype html
html
	head
		block title
		script(type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js")
		//- script(type="text/javascript" src= "http://ajax.googleapis.com/ajax/libs/angularjs/1.2.26/angular.min.js")
		script(type="text/javascript" src= "http://cdn.mathjax.org/mathjax/latest/MathJax.js?config=TeX-AMS-MML_HTMLorMML")
		script(type='text/x-mathjax-config').
			MathJax.Hub.Config({tex2jax: {inlineMath: [['$','$'], ['\\(','\\)']]}});
			MathJax.Hub.Config({ TeX: { equationNumbers: {autoNumber: "AMS"} } });
		link(rel="stylesheet", href="http://fonts.googleapis.com/css?family=Open+Sans")
		link(rel="stylesheet", href="http://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css")
		link(rel="stylesheet", href="http://glyphsearch.com/bower_components/font-awesome/css/font-awesome.min.css")
		//- link(rel="stylesheet", href="http://glyphsearch.com/bower_components/icomoon/dist/css/style.css")
		link(rel="stylesheet", href="../../assets/css/blog.css")

		block extraHeader
	body
		div#blog-header
			block header
			div#blog-abstract
				block blog-abstract

		div#blog-context
			div#blog-content
				div#blog-title
					block blog-title
				div#blog-date
					block blog-date
				div#blog-text
					block blog-text

				div#disqus_thread

			div#blog-footer
				span &#169;flowertea 2015


		div#side-bar
			div#blog-shared-btn
				a(id="fb-btn", onclick="window.open(this.href, 'mywin','left=20,top=20,width=500,height=500,toolbar=1,resizable=0'); return false;", data-href="http://www.facebook.com/share.php?u=<URL>")
					div(class="share-btn", data-color="#3b5998")
						i(class="fa fa-facebook")
				br
				a(id="tw-btn", onclick="window.open(this.href, 'mywin','left=20,top=20,width=500,height=500,toolbar=1,resizable=0'); return false;", data-href="https://twitter.com/intent/tweet?text=<URL>")
					div(class="share-btn", data-color="#55acee")
						i(class="fa fa-twitter")
				br
				a(id="gg-btn", onclick="window.open(this.href, 'mywin','left=20,top=20,width=500,height=500,toolbar=1,resizable=0'); return false;", data-href="https://plus.google.com/share?url=<URL>")
					div(class="share-btn", data-color="#dd4b39")
						i(class="fa fa-google-plus")
				br
				a(id="pt-btn", onclick="window.open(this.href, 'mywin','left=20,top=20,width=500,height=500,toolbar=1,resizable=0'); return false;", data-href="http://pinterest.com/pin/create/bookmarklet/?media=<IMG>&url=<URL>")
					div(class="share-btn", data-color="#e85061")
						i(class="fa fa-pinterest-p")


	script(type='text/javascript').
		var btns = ['fb-btn', 'tw-btn', 'gg-btn', 'pt-btn'];
	script(type="text/javascript" src="../../assets/scripts/shareURL.js")

	script(type='text/javascript').
		/* * * DON'T EDIT BELOW THIS LINE * * */
		(function() {
		    var dsq = document.createElement('script'); dsq.type = 'text/javascript'; dsq.async = true;
		    dsq.src = '//' + disqus_shortname + '.disqus.com/embed.js';
		    (document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(dsq);
		})();

	block extraScript